@using LtInfo.Common.BootstrapWrappers
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.FundingSourceCustomAttributeType.Manage

@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

@section RightOfPageTitle
{
    @if (ViewDataTyped.HasManagePermissions)
    {
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} {1}", BootstrapHtmlHelpers.MakeGlyphIcon("glyphicon-plus"), FieldDefinitionEnum.FundingSourceCustomAttribute.ToType().GetFieldDefinitionLabel()), @ViewDataTyped.NewFundingSourceCustomAttributeTypeUrl, string.Format("Create New {0}", FieldDefinitionEnum.FundingSourceCustomAttribute.ToType().GetFieldDefinitionLabel()), new List<string> {"btn btn-firma headerButtonText customAttributeTypeButton"}, true)
    }
}

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div style="margin-top: 10px;">
    @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>
