<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.13" targetFramework="net462" />
  <package id="ApprovalUtilities" version="3.0.13" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="GeoJSON.Net" version="1.1.70" targetFramework="net462" />
  <package id="Keystone.Common.OpenID" version="1.0.0.10" targetFramework="net462" />
  <package id="log4net" version="2.0.5" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="NUnit" version="2.6.3" targetFramework="net462" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.8.19" targetFramework="net462" />
</packages>