@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@inherits ProjectFirma.Web.Views.Indicator.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.IndicatorGridSpec, ViewDataTyped.IndicatorGridName, ViewDataTyped.IndicatorGridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>