@using ProjectFirma.Web.Areas.EIP.Views.Shared
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Areas.EIP.Views.ProposedProject.Photos

<p>Add any 'before' photos of the Proposed Project site documenting the current conditions.</p>
<hr />

@{ Html.RenderRazorSitkaPartial<ImageGallery, ImageGalleryViewData>(ViewDataTyped.ImageGalleryViewData); }