@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@using ProjectFirma.Web.Controllers
@using Microsoft.Web.Mvc
@inherits ProjectFirma.Web.Views.ProposedProjectImage.Edit
@using (Html.BeginForm<ProposedProjectImageController>(x => x.Edit(ViewDataTyped.ProposedProjectImage.ProposedProjectImageID, null), FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <div class="row">
        <div class="col-md-4">@Html.LabelWithSugarFor(x => x.Caption)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.Caption, new {style = "width:380px"})
            <div class="smallExplanationText">Be concise yet still descriptive. Thumbnails above will display alphabetically by caption.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">@Html.LabelWithSugarFor(x => x.Credit)</div>
        <div class="col-md-8">
            @Html.TextBoxFor(x => x.Credit, new {style = "width:380px"})
        </div>
    </div>

}
