@*-----------------------------------------------------------------------
<copyright file="Index.cshtml" company="Sitka Technology Group">
Copyright (c) Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@inherits ProjectFirma.Web.Views.FieldDefinition.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<p>
    Use this page to update the definitions for fields used in this system. These definitions provide guidance or help to users who are viewing or editing information in this system. These definitions are visible to users when viewing a page or editor that lists these fields (e.g. the summary page for a project, and its popup editors); if a field has no definition, the "?" (Help) icon will be displayed in gray.
</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
        </div>
        <div class="col-md-7">
            <h3>Definition:</h3>
            <div id="fieldDefinition"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function()
    {
        var sitkaGrid = Sitka.@ViewDataTyped.GridName;
        sitkaGrid.grid.attachEvent("onRowSelect", function(id)
        {
            var fieldDefinitionId = sitkaGrid.grid.cells(id, sitkaGrid.getColumnIndexByName("FieldDefinitionID")).getValue();
            var dataUrlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.FieldDefinitionDataUrl.ToJS()));
            var dataUrl = dataUrlTemplate.ParameterReplace(fieldDefinitionId);
            SitkaAjax.load(jQuery("#fieldDefinition"), dataUrl);
        });
        sitkaGrid.grid.attachEvent("onXLE", function() { sitkaGrid.grid.selectRow(0, true); });
        sitkaGrid.grid.attachEvent("onFilterEnd", function() { sitkaGrid.grid.selectRow(0, true); });
    });
    // ]]>
</script>
