@using ProjectFirma.Web.Views.Shared.TextControls
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.ProposedProject.Notes

<p>Enter notes about this Proposed Project.</p>
<hr/>

<div style="min-height: 300px">
    @{ Html.RenderRazorSitkaPartial<EntityNotes, EntityNotesViewData>(ViewDataTyped.EntityNotesViewData); }
</div>

<hr />
<div class="pull-right">
    <button class="btn btn-xs btn-firma" type="submit">Save</button>
</div>