# /Batch/
/Batch

# /Build/
/Build

# /Source/
/Source/.vs/
/Source/Corral.v12.suo
/Source/NuGetPackages
/Source/ProjectFirma.sln.DotSettings
/Source/ProjectFirma.sln.DotSettings.user
/Source/**/bin/
/Source/**/obj/

# /Source/LtInfo.Common/
/Source/LtInfo.Common/Lorax.Common.csproj.user
/Source/LtInfo.Common/Lorax.Common.csproj.DotSettings.user

# /Source/LtInfo.Common/HealthMonitor/

# /Source/ProjectFirma.Web/
/Source/ProjectFirma.Web/*.user
/Source/ProjectFirma.Web/Web.config
/Source/ProjectFirma.Api/Web.config

# /Source/ProjectFirma.Api/
/Source/ProjectFirma.Api/ProjectFirma.Api.csproj.user
/Source/LtInfo.Common/LtInfo.Common.csproj.user
