# These files are text and should be normalized (convert crlf =&gt; lf)
# This is all hellish. See : https://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
# files with "-text" means that " These files will never run through the CRLF to LF replacement." 
*.cs      -text diff=csharp
*.xaml    -text
*.csproj  -text
*.sln     -text
*.tt      -text
*.ps1     -text
*.cmd     -text
*.msbuild -text
*.md      -text
*.sql     -text
*.build   -text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary
*.sdf     binary