declare @TenantBannerLogoFileResourceID int, @TenantSquareLogoFileResourceID int, @TenantStyleSheetFileResourceID int
select @TenantBannerLogoFileResourceID = SCOPE_IDENTITY()

select @TenantSquareLogoFileResourceID = SCOPE_IDENTITY()


select @TenantStyleSheetFileResourceID = SCOPE_IDENTITY()

update dbo.TenantAttribute
set TenantBannerLogoFileResourceID = @TenantBannerLogoFileResourceID
, TenantSquareLogoFileResourceID = @TenantSquareLogoFileResourceID
, TenantStyleSheetFileResourceID = @TenantStyleSheetFileResourceID
where TenantID = 11

