Alter table dbo.Classification alter column DisplayName varchar(75) not null

Update dbo.Organization set OrganizationName = 'Gilliam County Soil and Water Conservation District' where OrganizationID = 6340