ALTER TABLE dbo.Project ADD
	BasicsComment varchar(1000) null,
	CustomAttributesComment varchar(1000) null,
	LocationSimpleComment varchar(1000) null,
	LocationDetailedComment varchar(1000) null,
	OrganizationsComment varchar(1000) null,
	ContactsComment varchar(1000) null,
	GeospatialAreaComment varchar(1000) null,
	ExpectedAccomplishmentsComment varchar(1000) null,
	ReportedAccomplishmentsComment varchar(1000) null,
	BudgetComment varchar(1000) null,
	ExpendituresComment varchar(1000) null,
	ProposalClassificationsComment varchar(1000) null,
	AttachmentsNotesComment varchar(1000) null,
	PhotosComment varchar(1000) null