@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Areas.Threshold.Views.ThresholdEvaluation.EditManagementStatus

@using (Html.BeginForm())
{
    <div class="container-fluid container-fluid-dialog-form" style="max-height: 600px;">
        <div class="row">
            <div class="col-md-4 col-header">@Html.LabelWithFieldDefinitionFor(x => x.ThresholdEvaluationManagementStatusTypeID, "Management Status"):</div>
            <div class="col-md-8">
                @Html.DropDownListFor(m => m.ThresholdEvaluationManagementStatusTypeID, ViewDataTyped.ThresholdEvaluationManagementStatusTypes, new {style= "width: 350px;"})
                @Html.ValidationMessageFor(m => m.ThresholdEvaluationManagementStatusTypeID)
            </div>
        </div>

    </div>
}