@*-----------------------------------------------------------------------
<copyright file="ProjectBasicsTags.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
<date>Wednesday, February 22, 2017</date>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ProjectControls.ProjectBasicsTags

<div id="projectTags" style="line-height: 2em; margin-top: 5px; text-align: left;">
</div>
<script>
    jQuery(document).ready(function()
    {
        var loaded = false;
        var projectTags = jQuery("#projectTags");
        if (Sitka.Methods.isUndefinedNullOrEmpty(projectTags))
        {
            return;
        }

        projectTags.tags({
            values: @Html.Raw(JArray.FromObject(ViewDataTyped.TagHelper.Tags)),
            templates: {
                pill: "<div class='btn btn-sm btn-tag' style='margin: 0 5px 5px 0; display:inline-block; position: relative' data-tag-id='{1}'>{0}</div>",
                delete_icon: "<span class='glyphicon glyphicon-remove'></span>",
                input_pill: "<div class='btn btn-sm btn-tag' style='display: block; max-width: 200px;'></div>",
                ok_icon: "<span class='glyphicon glyphicon-plus'></span>",
                number: " ({0})"
            },
            suggestion_url: @Html.Raw(ViewDataTyped.TagHelper.FindTagsUrl.ToJS()),
            onBeforeAdd: function(item)
            {
                if (!loaded)
                {
                    return item;
                }
                var tagName = item.text;
                var postData = new Object();
                postData.ProjectIDList = [@ViewDataTyped.Project.ProjectID];
                postData.TagName = tagName;
                SitkaAjax.ajax({
                    type: "POST",
                    url: @Html.Raw(ViewDataTyped.TagHelper.AddTagsUrl.ToJS()),
                    data: postData,
                    dataType: "json",
                    async: false
                }, function(newTag) { item = newTag; }, function()
                {
                    alert("There was an error adding the tag '" + tagName + "'");
                    item = null;
                });
                return item;
            },
            onRemove: function(pill)
            {
                // event.item: contains the item
                var postData = new Object();
                postData.ProjectIDList = [@ViewDataTyped.Project.ProjectID];
                postData.TagName = pill.data("tag-id");
                SitkaAjax.postJSON(@Html.Raw(ViewDataTyped.TagHelper.RemoveTagsUrl.ToJS()), postData, function() {});
            }
        });
        loaded = true;
    });
</script>
