@*-----------------------------------------------------------------------
    <copyright file="EditUsersContactType.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@inherits ProjectFirma.Web.Views.User.EditUsersContactType


@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-xs-12 col-sm-3 control-label">
                @Html.LabelFor(m => m.ContactTypeID)
            </div>
            <div class="col-xs-12 col-sm-9">
                @Html.DropDownListFor(m => m.ContactTypeID, ViewDataTyped.ContactTypes, new {@class = "form-control"})
                @Html.ValidationMessageFor(m => m.ContactTypeID)
            </div>
        </div>

    </div>
    @Html.HiddenFor(m => m.PersonID)
}
