@inherits ProjectFirma.Web.Areas.Sustainability.Views.Home.About

@section ExtraHeaderContent
{
    <div class="row">
        <div class="intro large-10 large-offset-1 columns text-center">
            <h1>About these Indicators and our Process</h1>
            @ViewDataTyped.IntroHtmlString
        </div>
    </div>
}


<div class="large-12 columns content">
    <div id="AboutSustainabilityDashboard">
        <article class="body">
            <h2>About Sustainability Dashboard</h2>
            @ViewDataTyped.AboutHtmlString
        </article>
    </div>
    <div id="Faq">
        <article class="body">
            <h2>Frequently Asked Questions</h2>
            @ViewDataTyped.FaqHtmlString
        </article>
    </div>
</div>