@*-----------------------------------------------------------------------
    <copyright file="MatchmakerOrganizationPerformanceMeasures.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.Organization.MatchmakerOrganizationPerformanceMeasures

<p>
    <div>
        Identify the types or categories of @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() you are interested in. The Matchmaker service will weight @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabelPluralized() that share your selected @FieldDefinitionEnum.PerformanceMeasure.ToType().GetFieldDefinitionLabelPluralized().
    </div>
</p>

@using (Html.BeginForm())
{
    var additionalViewData = new
    {
        MoreInformationDictionary = ViewDataTyped.AllPerformanceMeasures.Select(x => new { ID = x.PerformanceMeasureID, Description = x.PerformanceMeasureDefinition }).ToDictionary(x => x.ID, x => x.Description),
        MoreInformationLabel = "Definition",
        ShowFilterBox = true
    };
    @Html.EditorFor(x => x.PerformanceMeasureListbox, additionalViewData)
}
