@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.TaxonomyTierTwo.DefinitionAndGuidance

<div class="fieldDefinition">
    <div style="float: right">
        <a href="@ViewDataTyped.TaxonomyTierTwo.SummaryUrl">Read more about this @MultiTenantHelpers.GetTaxonomyTierTwoDisplayName()</a>
    </div>
    <h3 style="display: inline-block">@MultiTenantHelpers.GetTaxonomyTierTwoDisplayName() Description</h3>
    <div style="margin-left: 20px">
        <p>
            @ViewDataTyped.TaxonomyTierTwo.TaxonomyTierTwoDescriptionHtmlString
        </p>
    </div>
</div>