<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <config>
    <add key="repositoryPath" value="$\..\..\NuGetPackages" />
  </config>
  <packageSources>
    <add key="Sitka Package Source" value="\\sitka\resources\nuget" />
  </packageSources>
</configuration>