@*-----------------------------------------------------------------------
<copyright file="DefinitionAndGuidance.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.PerformanceMeasure.DefinitionAndGuidance

<style>
    h3 { font-weight: bold; font-size: 12px;}
</style>
<div class="fieldDefinition" style="font-size: 13px">
    <h3>@MultiTenantHelpers.GetPerformanceMeasureName() Definition</h3>
    <div style="margin-left: 20px">
        <p>
            @ViewDataTyped.PerformanceMeasure.PerformanceMeasureDefinition.ToHTMLFormattedString()
        </p>
    </div>
    <hr/>
    <h3>Critical Definitions</h3>
    <div style="margin-left: 20px">
        @if (ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString == null || string.IsNullOrWhiteSpace(ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString.ToString()))
        {
            <span>@ViewUtilities.NotProvidedString</span>
        }
        else
        {
            <span>@ViewDataTyped.PerformanceMeasure.CriticalDefinitionsHtmlString</span>
        }
        
    </div>
</div>
