@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Views.Shared.ConfirmDialogForm
<div>
    @Html.Raw(ViewDataTyped.ConfirmMessage)
</div>
@if (ViewDataTyped.CanProceed)
{
    using (Html.BeginForm())
    {
        Html.HiddenFor(x => x.ModelIDToUse);
    }
}
else
{
    // Since we cannot proceed, neuter the main button by hiding it - user can't click it, there's no form anyway to post
    <script type="text/javascript">
        // <![CDATA[
        var saveButtonId = "@ModalDialogFormHelper.SaveButtonId";
        jQuery("#" + saveButtonId).hide();
        // ]]>
    </script>
}