@using ProjectFirma.Web.Views.Shared
@inherits DisplayEIPPageContent

@section RightOfPageTitle
{
    @if (ViewDataTyped.ShowEditButton)
    {
        <div style="margin-top:10px">
            <a class="btn btn-xs btn-firma" href="@ViewDataTyped.EditUrl">Edit</a>
        </div>
    }
}

<div>
    @Html.Raw(ViewDataTyped.ProjectFirmaPage.ProjectFirmaPageContentHtmlString)
</div>