@using ProjectFirma.Web.Controllers
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Views.Shared
@using Microsoft.Web.Mvc
@inherits EditEIPPageContent

@section JavascriptAndStylesContent
{
    <style>
        #CkEditorForFirmaPageContent
        {
            min-height: 400px;
        }
    </style>
}

@section RightOfPageTitle
{
    <div style="margin-top:10px">
        <button class="btn btn-xs btn-firma" type="submit" onclick=" javascript:jQuery('form').submit(); ">Save</button>
        <a class="btn btn-xs btn-firma" href="@ViewDataTyped.DisplayUrl">Cancel</a>
    </div>
}
@using (Html.BeginForm<HomeController>(x => x.EditPageContent(ViewDataTyped.FirmaPage.FirmaPageType.ToEnum, null)))
{
    <div>
        @Html.CkEditorFor(x => x.FirmaPageContent, CkEditorExtension.CkEditorToolbar.AllOnOneRow, true, ViewDataTyped.FirmaPage.FirmaPageID, 600)
    </div>
}
