@using LtInfo.Common
@inherits ProjectFirma.Web.Views.Shared.Error

<div style="margin-top: 20px; min-height: 200px">
    <div id="@SitkaGlobalBase.CustomErrorMessageDivID">@SitkaGlobalBase.CustomErrorMessageReplaceToken</div>

    @if (Request.UrlReferrer != null)
    {
        <p><a href="@Request.UrlReferrer">Back to previous page</a></p>

    }
    else
    {
        <ul>
            <li><a href="@ViewDataTyped.LakeTahoeInfoHomeUrl">Project Firma home</a></li>
        </ul>
    }
</div>