@using ProjectFirma.Web.Views.Shared
@inherits LakeTahoeInfoSiteExplorer

<div class="header">
    <img class="headerLogo"  src="~/Content/img/ProjectFirma_Logo_2016_FNL.width-600.png" />
    <div class="headerText">
        <span> | </span>
        <a href="@ViewDataTyped.HomeUrl">
            Clackamas Partnership
        </a>
    </div>
</div>