@*-----------------------------------------------------------------------
<copyright file="EditPageContent.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Views.Shared
@inherits ViewPageContent

@if (ViewDataTyped.ShowEditButton)
{
    <div id="@Html.Id(ViewDataTyped.FirmaPageContentID)" style="position: relative;">
        <div class="hoverEditButton" style="display: none;">
            <div style="margin-top: 10px">
                @ModalDialogFormHelper.ModalDialogFormLink("Edit", ViewDataTyped.EditPageContentUrl, string.Format("Edit Content for {0}", ViewDataTyped.FirmaPage.FirmaPageType.FirmaPageTypeDisplayName), 800, "Save", "Cancel", new List<string> { "btn-firma btn-xs" }, null, null)                
            </div>
        </div>
        @if (ViewDataTyped.FirmaPage.HasFirmaPageContent)
        {
            @Html.Raw(ViewDataTyped.FirmaPage.FirmaPageContentHtmlString)
        }
        else
        {
            <div class="hoverEmptySpace"></div>
        }        
    </div>
}
else
{
    <div>
        @Html.Raw(ViewDataTyped.FirmaPage.FirmaPageContentHtmlString)
    </div>
}

<script>
    jQuery("#@Html.Id(ViewDataTyped.FirmaPageContentID)").hover(function(){
            jQuery(".hoverEditButton").fadeIn("fast");
            jQuery(this).addClass("grayBackground");
        }
        ,function(){
            jQuery(".hoverEditButton").fadeOut("fast");
            jQuery(this).removeClass("grayBackground");
        }
    );
</script>