@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inherits ProjectFirma.Web.Views.Shared.ProjectLocationControls.ProjectLocationSummary

<style>
    .blockOverlay {
        z-index: 999;
    }
</style>

<div>
    <div id="@ViewDataTyped.ProjectLocationSummaryMapInitJson.MapDivID" style="height: 390px">
    </div>
    <span style="font-size: 10px">To zoom, hold down Shift and drag a rectangle.</span>
</div>

<div>
    @if (ViewDataTyped.HasLocationNotes)
    {
        <div style="margin-bottom: 5px">
            <label>
                Location Notes
            </label>
            <div style="padding-left: 6px">
                @ViewDataTyped.ProjectLocationNotes
            </div>
        </div>
    }
    @if (ViewDataTyped.HasLocationInformation)
    {
        <div>
            <label>
                Location Information
            </label>
            <div id="projectLocationInformationContainer" style="min-width: 200px"></div>
        </div>
    }
</div>

<script type="text/javascript">
    jQuery(document).ready(function()
    {
        var projectLocationSummaryMapInitJson = @Html.Raw(JObject.FromObject(ViewDataTyped.ProjectLocationSummaryMapInitJson).ToString(Formatting.None));
        var projectFirmaMap = new ProjectFirmaMaps.ProjectLocationSummary(projectLocationSummaryMapInitJson, jQuery("#projectLocationInformationContainer"));
    });
</script>