@using ProjectFirma.Web.Areas.EIP.Views.Shared
@inherits DisplayEIPPageContent

@section RightOfPageTitle
{
    @if (ViewDataTyped.ShowEditButton)
    {
        <a class="btn btn-xs btn-trpa" href="@ViewDataTyped.EditUrl">Edit</a>
    }
}

<div>
    @Html.Raw(ViewDataTyped.ProjectFirmaPage.ProjectFirmaPageContentHtmlString)
</div>