@inherits ProjectFirma.Web.Views.WebServices.ViewAccessToken

<p>
    Your webservice access token is "@ViewDataTyped.WebServiceAccessToken". <br /><br />
    See our <a href="@ViewDataTyped.WebServicesListUrl">web services documentation page</a> for detailed instructions on how to use our services.
</p>
