@using ProjectFirma.Web.Views.GeospatialArea

@inherits MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>GeospatialArea</strong></div>
    <div class="col-xs-8">@ViewDataTyped.GeospatialAreaDetailLink</div>
</div>
