<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <!-- these are the minimal settings to get to LtInfoWebConfiguration -->
  <appSettings>
    <add key="FirmaEnvironment" value="local" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CacheStaticContentTimeSpan" value="00:00:00" />
    <add key="CanonicalHostName" value="localhost.projectfirma.com, localhost.clackamaspartnership.org, localhost.rcdprojects.org" />
    <add key="UseMvcExtensionInUrl" value="false" />
    <add key="SitkaEmailRedirect" value="test@localhost.sitkatech.com" />
    <add key="IsEmailEnabled" value="true" />
    <add key="MailLogBcc" value="" />
    <add key="MaximumAllowedUploadFileSize" value="100000000" />
    <add key="MaximumAllowedUploadImageSize" value="4000000" />
    <add key="DatabaseConnectionString" value="Server=localhost;Database=ProjectFirma;Trusted_Connection=True" />
    <add key="RecaptchaValidatorUrl" value="https://www.google.com/recaptcha/api/siteverify" />
    <add key="SitkaSupportEmail" value="projectfirma@sitkatech.com" />
    <add key="DoNotReplyEmail" value="donotreply@projectfirma.com" />
    <add key="ApplicationDomain" value="projectfirma.com" />
    <add key="Ogr2OgrExecutable" value="C:\Program Files\GDAL\ogr2ogr.exe" />
    <add key="OgrInfoExecutable" value="C:\Program Files\GDAL\ogrinfo.exe" />
    <add key="DefaultSupportPersonID" value="2" />
    <add key="LogFileFolder" value="C:\Sitka\ProjectFirma\Logs" />
    <add key="PsInfoUrl" value="https://localhost-psinfo.sitkatech.com/" />
    <add key="VitalSignsUrl" value="https://localhost-vitalsigns.sitkatech.com/" />
    <add key="KeystoneWebServiceApplicationGuid" value="CE8E2CB7-7865-42FD-BD44-1458D825860D" />
    <add key="DefaultModalDialogButtonCssClasses" value="btn-firma,btn-xs" />
    <add key="WkhtmltopdfExecutable" value="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" />
    <add key="KeystoneUrl" value="https://localhost.keystone.sitkatech.com" />
    <add key="KeystoneUserProfileUrl" value="https://localhost.keystone.sitkatech.com/User/Profile/" />
    <add key="KeystoneOrganizationEditUrl" value="https://localhost.keystone.sitkatech.com/Organization/Edit/" />
    <add key="KeystoneRegisterUrl" value="https://localhost.keystone.sitkatech.com/Account/Register/" />
    <add key="KeystoneOpenIDUrl" value="https://localhost.keystone.sitkatech.com/core" />

  </appSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\sitka\LtInfo.Common\Logs\LtInfo.Common.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date;%thread;%-5level;%logger;%message%newline" />
      </layout>
    </appender>
    <root>
      <level value="debug" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <add name="DatabaseEntities" connectionString="data source=localhost;initial catalog=ProjectFirma;Trusted_Connection=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
