@using ProjectFirma.Web.Views.Watershed

@inherits MapTooltip

<div class="row">
    <div class="col-xs-4"><strong>Watershed</strong></div>
    <div class="col-xs-8">@ViewDataTyped.WatershedDetailLink</div>
</div>
