@*-----------------------------------------------------------------------
    <copyright file="Notes.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared.TextControls
@using LtInfo.Common.ModalDialog
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared.ProjectDocument
@inherits ProjectFirma.Web.Views.ProjectUpdate.DocumentsAndNotes

<p>Add document and notes to the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel(). When approved, the documents and notes will be publicly visible.</p>
<hr />
<div style="min-height: 200px;">

    <div>
                @{
                    ProjectDocumentsDetail.RenderPartialView(Html, ViewDataTyped.ProjectDocumentsViewData);
                }
        <hr />
            </div>
    <div>
        @{
            EntityNotes.RenderPartialView(Html, ViewDataTyped.EntityNotesViewData);
        }
    </div>
</div>

@if (@ViewDataTyped.IsEditable)
{
    <hr />
    <table style="width: 100%">
        <tr>
            <td>
                @ModalDialogFormHelper.ModalDialogFormLink("revert-button", "Revert Current Page", ViewDataTyped.RefreshUrl, "Refresh this section", 500, "Continue", "Continue", "Cancel", new List<string> { "btn btn-xs btn-firma" }, null, null, null, "Undo all changes on this page")
                @if (ViewDataTyped.ProjectUpdateStatus.IsNotesUpdated)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink("diff-link-id", "Show Changes", ViewDataTyped.DiffUrl, string.Format("Changes to {0}", FieldDefinitionEnum.ProjectNote.ToType().GetFieldDefinitionLabelPluralized()), 800, "hidden-save-button", string.Empty, "Close", new List<string> { "btn btn-xs btn-firma" }, null, null, null)
                }
            </td>
        </tr>
    </table>
}
