@using ProjectFirma.Web.Views.Shared.TextControls
@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Views.ProjectUpdate.Notes

<p>You may enter one or more project notes to convey additional information not covered by other parts of this project update. Project Notes, if/when approved, will be publicly visible.</p>
<hr />
<div style="min-height: 200px">
    @{
        EntityNotes.RenderPartialView(Html, ViewDataTyped.EntityNotesViewData);
    }
</div>

@if (@ViewDataTyped.IsEditable)
{
    <hr />
    <table style="width: 100%">
        <tr>
            <td>
                @ModalDialogFormHelper.ModalDialogFormLink("Refresh", ViewDataTyped.RefreshUrl, "Refresh this section", 500, "Continue", "Cancel", new List<string> { "btn btn-xs btn-firma" }, null, null)
                @if (ViewDataTyped.UpdateStatus.IsNotesUpdated)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink("diff-link-id", "Show Changes", ViewDataTyped.DiffUrl, "Changes to Project Notes", 800, "hidden-save-button", string.Empty, "diff-close-button", "Close", new List<string> { "btn btn-xs btn-firma" }, null, null, null, new List<string>() {"btn-firma", "btn-xs"}, false)
                }
            </td>
        </tr>
    </table>
}
