@*-----------------------------------------------------------------------
<copyright file="Photos.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.ProjectUpdate.Photos

<p>
    You may upload new photos for your project, or edit information on existing photos from here. You may also flag photos for deletion
    (they won't actually be deleted until this @FieldDefinition.Project.GetFieldDefinitionLabel() Update is approved).
</p>

<hr />
<div style="max-height: 500px; padding-right: 10px; overflow-y: auto">
    @{
        ImageGallery.RenderPartialView(Html, ViewDataTyped.ImageGalleryViewData);
    }
</div>

@if (@ViewDataTyped.IsEditable)
{
    <hr />
    <table style="width: 100%">
        <tr>
            <td>
                @ModalDialogFormHelper.ModalDialogFormLink("Refresh", ViewDataTyped.RefreshUrl, "Refresh this section", 700, "Continue", "Cancel", new List<string> { "btn btn-xs btn-firma" }, null, null)
                @if (ViewDataTyped.UpdateStatus.IsPhotosUpdated)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink("diff-link-id", "Show Changes", ViewDataTyped.DiffUrl, string.Format("Changes to {0} Photos", FieldDefinition.Project.GetFieldDefinitionLabel()), 800, "hidden-save-button", string.Empty, "diff-close-button", "Close", new List<string> { "btn btn-xs btn-firma" }, null, null, null, new List<string>() {"btn-firma", "btn-xs"})
                }
            </td>
        </tr>
    </table>
}
