@using LtInfo.Common.Views
@inherits ProjectFirma.Web.Views.ProjectUpdate.SectionComments

@if (ViewDataTyped.IsReturned && !string.IsNullOrWhiteSpace(ViewDataTyped.Comments))
{
    <div style="font-weight: bold">TRPA Comments:</div>
    <div class="warning" style="margin-bottom: 10px">
        @Html.Raw(ViewDataTyped.Comments.HtmlEncodeWithBreaks())
    </div>
}