@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.AttachmentRelationshipType.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
    <script src="@Url.Content("~/Views/AttachmentRelationshipType/AttachmentRelationshipTypeController.js")" type="text/javascript"></script>
}

<br />
<div>
    <h4>@FieldDefinitionEnum.AttachmentType.ToType().GetFieldDefinitionLabelPluralized()</h4>
    @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.NewProjectAssociationUrl, "Create a new " + FieldDefinitionEnum.AttachmentType.ToType().GetFieldDefinitionLabel(), ViewDataTyped.HasManagePermissions)
</div>
<div style="margin-top: 10px">
    @Html.DhtmlxGrid(ViewDataTyped.AttachmentRelationshipTypeGridSpec, ViewDataTyped.AttachmentRelationshipTypeGridName, ViewDataTyped.AttachmentRelationshipTypeGridDataUrl, null, DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
</div>
