@inherits ProjectFirma.Web.Views.Home.Index
@section JavascriptAndStylesContent
{
    <meta name="Description" content="The Lake Tahoe Project Tracker provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and  projects implemented by the Lake Tahoe Environmental Improvement Program. This site replaces the Tahoe Information Management Systems (TIIMS). Sponsored by Tahoe Regional Planning Agency (TRPA) and Tahoe Metropolitan Planning Organization (TMPO)." />
}

<div>
    @Html.Raw(ViewDataTyped.FirmaPage.FirmaPageContentHtmlString)
</div>