@inherits ProjectFirma.Web.Views.Home.Index
@section JavascriptAndStylesContent
{
    <meta name="Description" content="ProjectFirma provides public access to program information and details on watershed, habitat, stormwater, forestry, air quality, and  projects implemented by ProjectFirma partners." />
}

<div>
    @Html.Raw(ViewDataTyped.FirmaPage.FirmaPageContentHtmlString)
</div>