@*-----------------------------------------------------------------------
<copyright file="FeaturedProjects.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.Views
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Home.ManageHomePageImages

@section JavascriptAndStylesContent
{
    <meta name="Description" content="ProjectFirma provides public access to program information and details on geospatialArea, habitat, stormwater, forestry, air quality, and projects implemented by ProjectFirma partners." />

    @{ MapJavascriptIncludes.RenderPartialView(Html); }
}

<h2 data-toc-skip class="sectionHeader">Photos</h2>
<div class="summarySection">
    <h2>Home Page Images</h2>
    <p>Upload images you would like to see on the home page. For best display, select images with the focal points centered as the top and bottom are often cropped in the browser.
    You should then check how these images display on various screens, such as desktop monitors, mobile phones, and tablets.</p>
    <div class="contentWrapper">
        @{
            ImageGallery.RenderPartialView(Html, ViewDataTyped.ImageGalleryViewData);
        }
    </div>
</div>
