@*-----------------------------------------------------------------------
    <copyright file="ReleaseNotes.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Home.ReleaseNotes


@section RightOfPageTitle
{
    @if (ViewDataTyped.CanEditNotes)
    {
        @ModalDialogFormHelper.ModalDialogFormLink(string.Format("{0} Add Note", FirmaDhtmlxGridHtmlHelpers.PlusIcon), ViewDataTyped.AddNoteUrl, "Add Release Note", new List<string> { "btn", "btn-firma", "btn-sm" }, ViewDataTyped.CanEditNotes)
    }
}
<div class="row">
    <div class="col-md-12">
        @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
    </div>
</div>
<div class="panel panelFirma">
    <div class="panel-heading panelTitle">
        <h3> ProjectFirma Release Notes </h3>
    </div>
    <div class="panel-body">
        @if (ViewDataTyped.Notes.Any())
        {
            <table class="summaryLayout">
                @foreach (var releaseNote in ViewDataTyped.Notes)
                {
                    <tr>
                        <td class="summaryLayoutUpdateControls">@ModalDialogFormHelper.MakeEditIconLink(releaseNote.GetEditUrl(), string.Format("Edit Note for {0}", ViewDataTyped.EntityName), ViewDataTyped.CanEditNotes)</td>
                        <td class="summaryLayoutUpdateControls">@ModalDialogFormHelper.MakeDeleteLink(DhtmlxGridHtmlHelpers.DeleteIconBootstrap.ToString(), releaseNote.GetDeleteUrl(), new List<string>(), ViewDataTyped.CanEditNotes)</td>
                        <td>@releaseNote.NoteHtmlString</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p class="systemText">No Release Notes entered.</p>
        }
    </div>
</div>