@*-----------------------------------------------------------------------
    <copyright file="MyOrganizationsProjects.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@inherits ProjectFirma.Web.Views.Home.TrainingVideo

<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

<div class="row">
    <h3>Videos</h3>
    @foreach (var video in ViewDataTyped.TrainingVideos)
    {

        <div class="col-md-6" style="margin-bottom: 20px;">
            <div style="background: #eee; border: 1px solid #ccc; padding: 5px 10px;"><strong>@video.VideoName</strong></div>
            <div style="background: #eee; border: 1px solid #ccc; padding: 5px 10px">
                <iframe src="@video.VideoURL" allowfullscreen="" width="100%" height="344" frameborder="0"></iframe>
                <p>@video.VideoDescription </p>
                <p>Uploaded on @video.VideoUploadDate.ToShortDateString()</p>
            </div>
        </div>
    }
</div>
<div class="row">
    <h3>Documents</h3>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <div style="background: #eee; border: 1px solid #ccc; padding: 5px 10px;"><strong>ProjectFirma Customization Guide</strong></div>
        @* 12/02/2019 SMG - Displaying the document here like this for now to stay within budget, this should be changed to something in the future that is more robust ProjectFirma/#1934 *@
        
        <div style="background: #eee; border: 1px solid #ccc; padding: 5px 10px;">
            <a href="/Content/Training/ProjectFirma_CustomizationGuide_10-2019_FNL.pdf" target="_blank">
                <img src="/Content/Training/projectfirma-customization-guide.jpg" class="img-responsive" alt="Training Document" style="margin-bottom: 5px;" />
                <p>View/Download the ProjectFirma Customization Guide</p>
            </a>
        </div>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <div style="background: #eee; border: 1px solid #ccc; padding: 5px 10px;"><strong>ProjectFirma Administrator Quick Guide</strong></div>
        <div style="background: #eee; border: 1px solid #ccc; padding: 5px 10px;">
            <a href="/Content/Training/ProjectFirma_AdministratorQuickGuide.pdf" target="_blank">
                <img src="/Content/Training/projectfirma-administrator-quick-guide.jpg" class="img-responsive" alt="Quick Guide Document" style="margin-bottom: 5px;" />
                <p>View/Download the ProjectFirma Administrator Quick Guide</p>
            </a>
        </div>
    </div>
</div>