@*-----------------------------------------------------------------------
    <copyright file="Photos.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.HtmlHelperExtensions
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.ProjectCreate.Photos

<div>Add any 'before' photos of the @FieldDefinitionEnum.Project.ToType().GetFieldDefinitionLabel() site documenting the current conditions.</div>
<hr />

<div style="min-height: 300px">
    @{ Html.RenderRazorSitkaPartial<ImageGallery, ImageGalleryViewData>(ViewDataTyped.ImageGalleryViewData); }
</div>

<hr />
<div class="pull-right">
    <a class="btn btn-xs btn-firma" href="@ViewDataTyped.ProposalAttachmentsAndNotesUrl">Continue</a>
</div>
