@*-----------------------------------------------------------------------
    <copyright file="ProjectTypeSelection.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@inherits ProjectFirma.Web.Views.ProjectCreate.ProjectTypeSelection

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        Do you want to:
    </div>
    <div class="form-group">
        <div class="radio">
            <label>
                @Html.RadioButtonFor(m => m.ProjectIsProposal, true) <span style="font-weight: bold;">Add a proposal for a future project</span>
            </label>
            <div class="systemText">This will create a new project in Proposal stage. When a proposal is reviewed and selected for implementation an administrator can advance the project to the Planning/Design stage.</div>
        </div>
        <div class="radio" style="margin-top: 10px;">
            <label>
                @Html.RadioButtonFor(m => m.ProjectIsProposal, false) <span style="font-weight: bold;">Enter an existing project that is already underway or complete</span>
            </label>
            <div class="systemText">This will create a new project record for an existing project. You will be asked to select the project stage (e.g. Planning/Design, Implementation, or Complete). An administrator will review the project before it becomes publicly visible.</div>
        </div>
    </div>
}