@*-----------------------------------------------------------------------
    <copyright file="ProjectStatusLegendDisplay.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirmaModels.Models
@using ProjectFirma.Web.Common
@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Views.Shared.ProjectTimeline.ProjectStatusLegendDisplay

@if (ViewDataTyped.ProjectStatuses != null)
{
    <p class="h5">@Html.LabelWithSugarFor(FieldDefinitionEnum.StatusLegend.ToType(), LabelWithSugarForExtensions.DisplayStyle.HelpIconOnly) @FieldDefinitionEnum.StatusLegend.ToType().GetFieldDefinitionLabel()</p>
    <div class="project-status-legend">
        <ul>
            @foreach (var status in ViewDataTyped.ProjectStatuses)
            {
                <li style="border-left-color:@status.ProjectStatusColor;">@status.ProjectStatusDisplayName @(!string.IsNullOrWhiteSpace(status.ProjectStatusDescription) ? string.Format(" - {0}", status.ProjectStatusDescription) : "") </li>
            }
        </ul>
    </div>
}