@using LtInfo.Common.Mvc
@inherits ProjectFirma.Web.Areas.Threshold.Views.ThresholdIndicator.NewOptionalChartImageFileResource

@using (Html.BeginForm())
{
    <div>
        <label>Chart Image:</label>
        @Html.EditorFor(x => x.FileResourceData)
        @Html.ValidationMessageFor(x => x.FileResourceData)
    </div>
    <div class="smallExplanationText">Allowed Extensions: @Model.GetFileExtensions(x => x.FileResourceData)</div>
}