@*-----------------------------------------------------------------------
<copyright file="EditNote.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Shared.TextControls.EditNote
@using (Html.BeginForm())
{
    <table class="dialogFormLayout" style="width:100%">
        <tr>
            <th>@Html.LabelWithSugarFor(m => m.Note)</th>
            <td>
                @Html.TextAreaWithMaxLengthFor(m => m.Note, new TextAreaForExtensions.TextAreaDimensions(null, 8), null)
                @Html.ValidationMessageFor(m => m.Note)
            </td>
        </tr>
    </table>
}
