@using ProjectFirma.Web.Areas.Threshold.Views.ThresholdCategory
@using ProjectFirma.Web.Models
@using LtInfo.Common.HtmlHelperExtensions
@inherits Index
<div>
    @ViewDataTyped.ProjectFirmaPage.ProjectFirmaPageContentHtmlString
</div>

<div class="pull-right" style="margin: 20px 20px 0 0">
    @ThresholdEvaluation.MakeLegendIconLink()
</div>
@{ ThresholdTaxonomy.RenderPartialView(Html, ViewDataTyped.ThresholdTaxonomyViewData); }