@using ProjectFirma.Web.Models
@inherits ProjectFirma.Web.Areas.Threshold.Views.ThresholdCategory.IndicatorRelationships

<style>
    .chevronBase {
        background: red;
        display: inline-block;
        height: 110px;
        position: relative;
        width: 300px;
    }

    .chevronBase:after {
        border-top: 55px solid red;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 110px;
        width: 0;
    }

    .chevronBase.actions {
        background-color: rgb(31, 78, 121) !important;
        z-index: 1004;
    }

    .chevronBase.actions:after {
        border-top-color: rgb(31, 78, 121) !important;
        z-index: 1004;
    }

    .chevronBase.intermediateResults {
        background-color: rgb(46, 117, 182) !important;
        z-index: 1002;
    }

    .chevronBase.intermediateResults:after {
        border-top-color: rgb(46, 117, 182);
        z-index: 1002;
    }

    .chevronBase.outcomes {
        background-color: rgb(91, 155, 213) !important;
        z-index: 1000;
    }

    .chevronBase.outcomes:after {
        border-top-color: rgb(91, 155, 213);
        z-index: 1000;
    }

    .chevronBase div {
        font-size: 24px;
        color: white;
        text-align: center;
        line-height: 100px;
        padding-top: 30px;
    }

    .chevronSidePanel
    {
        margin-top: 1px; 
        outline: 1px solid rgb(31, 78, 121); 
        height: 107px;
        padding: 10px;
        min-width: 300px;
        overflow-y: auto;
    }

    .chevronWhiteSpace {
        background: white;
        height: 17px;
        position: relative;
        width: 250px;
    }

    .firstChevronWhiteSpace, .firstChevronWhiteSpace:after {
        z-index: 1003;
    }

    .secondChevronWhiteSpace, .secondChevronWhiteSpace:after {
        z-index: 1001;
    }

    .chevronWhiteSpace:after {
        border-top: 55px solid white;
        border-left: 150px solid transparent;
        border-right: 150px solid transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 17px;
        width: 0;
    }
</style>

<table style="margin-bottom: 70px">
    <tr>
        <td>
            <div class="chevronBase actions">
                <div>Actions</div>
            </div>
        </td>
        <td style="vertical-align: top">
            <div class="chevronSidePanel">@Html.Raw(string.Join(", ", ViewDataTyped.ActionIndicators.Select(x => x.GetDisplayNameAsInfoSheetUrl().ToString()).OrderBy(x => x)))</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="chevronWhiteSpace firstChevronWhiteSpace">
                <div></div>
            </div>
        </td>
        <td style="vertical-align: top"></td>
    </tr>
    <tr>
        <td>
            <div class="chevronBase intermediateResults">
                <div style="margin-top: 10px">Intermediate Results</div>
            </div>
        </td>
        <td style="vertical-align: top">
            <div class="chevronSidePanel">@Html.Raw(string.Join(", ", ViewDataTyped.IntermediateResultIndicators.Select(x => x.GetDisplayNameAsInfoSheetUrl().ToString()).OrderBy(x => x)))</div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="chevronWhiteSpace secondChevronWhiteSpace">
                <div></div>
            </div>
        </td>
        <td style="vertical-align: top"></td>
    </tr>
    <tr>
        <td>
            <div class="chevronBase outcomes">
                <div style="margin-top: 10px">Outcomes</div>
            </div>
        </td>
        <td style="vertical-align: top">
            <div class="chevronSidePanel">@Html.Raw(string.Join(", ", ViewDataTyped.OutcomeIndicators.Select(x => x.GetDisplayNameAsInfoSheetUrl().ToString()).OrderBy(x => x)))</div>
        </td>
    </tr>
</table>
