@*-----------------------------------------------------------------------
<copyright file="Edit.cshtml" company="Tahoe Regional Planning Agency">
Copyright (c) Tahoe Regional Planning Agency. All rights reserved.
<author>Sitka Technology Group</author>
</copyright>

<license>
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

Source code is available upon request via <support@sitkatech.com>.
</license>
-----------------------------------------------------------------------*@
@using LtInfo.Common.HtmlHelperExtensions
@inherits ProjectFirma.Web.Views.Snapshot.Edit
@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-2">
            <strong>@Html.LabelWithSugarFor(m => m.SnapshotNote)</strong>
        </div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SnapshotNote, new {style = "width: 100%;"})
            @Html.ValidationMessageFor(m => m.SnapshotNote)
        </div>
    </div>
    
    @Html.HiddenFor(m => m.SnapshotID)
}
