@*-----------------------------------------------------------------------
    <copyright file="EditBasics.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@

@using ProjectFirma.Web.Common
@inherits ProjectFirma.Web.Views.ProjectFactSheet.EditBasics

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(m => m.TenantID)
        <div class="form-group">
            <div class="col-md-4 text-right">@Html.LabelWithSugarFor(m => m.ShowLeadImplementerLogoOnFactSheet)</div>
            <div class="col-md-8">
                @Html.CheckBoxFor(x => x.ShowLeadImplementerLogoOnFactSheet)
                @Html.ValidationMessageFor(x => x.ShowLeadImplementerLogoOnFactSheet)
            </div>
        </div>
    </div>
}
