@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Sitka Technology Group">
    Copyright (c) Tahoe Regional Planning Agency and Sitka Technology Group. All rights reserved.
    <author>Sitka Technology Group</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.DhtmlWrappers
@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Views.ReportCenter.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}
@section RightOfPageTitle
{
    @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.NewUrl, "Create a new Report Template", ViewDataTyped.HasManageReportTemplatePermissions)
}
<div>
    @{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }
</div>

@Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)

<div class="report-center-files" style="margin-top: 30px;">
    <h3>Documentation</h3>
    <table class="table table-firma">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Report Center User Guide</td>
            <td>The Report Center User Guide contains documentation on the general functionality of the Report Center. Use this to get started building your own templates. Contains examples of code that can be used in templates.</td>
            <td><a href="/Content/Training/ProjectFirma-Report-Center-User-Guide.pdf">User Guide</a></td>
        </tr>
        <tr>
            <td>Model Documentation</td>
            <td>This Model Documentation has detailed documentation on the "Models" that can be accessed with the Report Center. Contains detailed examples of the attributes that can be accessed in your report templates.</td>
            <td><a href="/Content/Training/ProjectFirma-Report-Center-Model-Documentation.xlsx">Model Documentation</a></td>
        </tr>
        <tr>
            <td>Example Report</td>
            <td>The Example Report is a functional report template that can help you get started with building your own report templates.</td>
            <td><a href="/Content/Training/ProjectFirma-Report-Center-Example-Report.docx">Example Report</a></td>
        </tr>
        </tbody>
    </table>
</div>