/* For the DHTMLX grid stuff */

div.gridbox {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

div.gridbox_mm {
  position:relative; /* keeps the overflow on short grids (<=150px) from interfering with elements below the grid in IE7 (see #325) */
    border: 1px solid #71675e;
}

div.gridbox_mm * {
    vertical-align:top;
}

div.gridbox_mm sup {
    line-height: inherit;
}

div.gridbox_mm .objbox {
    background-color: transparent;
}

div.gridbox_mm .xhdr {
    background-color: #666666;
}

div.gridbox_mm table {
    border-collapse:separate; /*  border-collapse: collapse kills grid alignment, bootstrap has global style this is here to protect DHTMLxGrids */
}

div.gridbox_mm table.hdr tr {
    background-color: #666666;
}

div.gridbox_mm table.hdr td {
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color:  #BEB9B7 #BEB9B7 #BEB9B7 #BEB9B7;
    background-color:transparent;
    color:#FFFFFF;
    vertical-align:top;
    text-align:left;
    font-weight: bold;
    padding: 2px 4px 0 4px;
}

div.gridbox_mm table.hdr td div.hdrcell {
    width:auto;
}

div.gridbox_mm table.hdr .filter {
    padding-left: 10px;
    padding-right: 10px;
    -moz-user-select: text;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.gridbox_mm table.hdr td.dhtmlx-grid-bootstrap-multiselect-filter-container {
    padding: 0;
}
div.gridbox_mm table.hdr .filter.dhtmlx-grid-bootstrap-multiselect-filter {
    padding-left: 10px;
    padding-right: 10px;
}
div.gridbox_mm table.hdr .filter.dhtmlx-grid-bootstrap-multiselect-filter button.dropdown-toggle {
    padding-right: 13px !important;
}
div.gridbox_mm table.hdr .filter.dhtmlx-grid-bootstrap-multiselect-filter button.dropdown-toggle .bs-caret {
    position: absolute;
    right: -10px;
    top: 50%;
}
.dhtmlx-grid-bootstrap-multiselect-filter .bs-actionsbox {
    min-width: 210px;
}
div.gridbox td.filter input, div.gridbox td.filter select {
    width: 100% !important;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #CCC;
}

div.gridbox_mm table.hdr .filter option {
    font-size: 11px;
}
div.gridbox_mm table.obj td {
    border-width: 0px 1px 0px 1px;
    border-left: 1px solid white;
    border-right: 1px solid #CCCCCC;
    font-size:11px;
    padding-right:4px;
    padding-left:4px;
    vertical-align:middle;
}
div.gridbox_mm table.obj {
    border-bottom: 1px solid #D6D6D6;
}
div.gridbox_mm table.row20px tr td {
    padding-right:4px;
    padding-left:4px;
    height: 30px; /* For dhtmlxgrid smart rendering height has to be the same between row content (image heights), dhtmlxgrid_mm_skins.css (.ev_mm, .odd_mm), and taurus.js (grid.setAwaitedRowHeight) or paged grids scrolling will be off in dhtmlxgrid smart rendering mode */
}
div.gridbox_mm .dhx_combo_edit {
    font-size:11px;
}
div.gridbox_mm table.obj tr.rowselected td {
    background: #a2a39f;
    color:black;
}
div.gridbox_mm table.obj tr.rowselected td.cellselected, div.gridbox_mm table.obj td.cellselected {
    background: #a2a39f;
}
div.gridbox_mm .ev_mm {
    background: #ffffff;
}
div.gridbox_mm .odd_mm {
    background: #E2E8EE;
}

div.gridbox_mm div.ftr td {
    empty-cells:show;
    border-color: white;
    background: #f5d38e url(/Content/img/table_summary_bg.png) repeat-x;
    font-family: "Basic",sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    vertical-align: middle;
    color: black;
    height: 24px;
}

/* for the grid top "cap" section */

#content .tableTitle, #content .gridHeaderBar {
    clear: both;
    margin-bottom: 0;
    margin-right:-2px;
    padding: 15px 5px 10px 15px;
    
    font: bold 12px/13px Arial,sans-serif;
    text-transform: uppercase;
    height:100%;
    
    color: #3f7186;
    background: #D5D7D0 url('/Content/img/table_title_bg.png') repeat-x;
}
    
#content .tableTitle > span {
    margin-top:2px;
}

#content .tableTitle a.largeButton, #content .gridHeaderBar a.largeButton {
    float: right;
    padding: 4px 11px;
    margin: 0 4px 0;
    font-weight: normal;
    text-decoration: none;
    background: transparent url('/Content/img/table_title_button_bg.png') repeat-x;
    border-color: #c3c7c9;
    color: #000;
}

#content .tableTitle a.largeButton:hover {
    background-position: 0 -25px;
}

.excelButtonIcon {
    display: block;
    float: left;
    height: 13px;
    width: 13px;
    margin: 0px 6px -2px 0;
    text-indent: -9999em;
    background: transparent url('/Content/img/button_icon_excel.png') no-repeat;
}

#content .tableTitle select {
    text-transform: none;
}

/* IE7 only */
* + html .tableTitle a.largeButton {padding: 3px 11px;}

#content ul.summary {
    display: inline;
    float: right;
    height: 46px;
    padding: 0 13px;
    margin: 1em 0 2em;
    background: #f5d38e url(/Content/img/table_summary_bg.png) repeat-x;
    font: 12px/15px Arial,sans-serif;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    list-style: none;
}

ul.summary li {
    padding: 8px 24px;
    float: left;
    margin: 0;
    color: #000;
}
    
ul.summary li span {
    display: block;
    font-size: 10px;
}

div.gridbox .objbox.gridInstructionPane {
    background-color: #E6E6E6;
}

div.gridbox .objbox .gridInstruction {
    padding: 20px 20px;
}