
/* ========================================================================== Base ========================================================================== */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* ========================================================================== Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* ========================================================================== Typography ========================================================================== */
/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari 5 and Chrome. */
dfn { font-style: italic; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Correct font family set oddly in Safari 5 and Chrome. */
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }

/** Improve readability of pre-formatted text in all browsers. */
pre { white-space: pre-wrap; }

/** Set consistent quote types. */
q { quotes: "\201C" "\201D" "\2018" "\2019"; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }


/* ========================================================================== Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

a:hover { cursor: pointer; }

img, object, embed { max-width: 100%; height: auto; }

object, embed { height: 100%; }

img { -ms-interpolation-mode: bicubic; }

.hide { display: none; }

.antialiased { -webkit-font-smoothing: antialiased; }

img { display: inline-block; vertical-align: middle; }

textarea { height: auto; min-height: 50px; color: black;}


.btn, .body p a.button { font-family: "Open Sans", serif; white-space: nowrap; text-decoration: none !important; font-weight: 700; }
.btn.btn-blue, .body p a.btn-blue.button, .btn .btn-blue, .body p a.button .btn-blue { color: white; background-color: #0b406b; }
.btn.btn-blue:hover, .body p a.btn-blue.button:hover, .btn.btn-blue:focus, .body p a.btn-blue.button:focus, .btn .btn-blue:hover, .body p a.button .btn-blue:hover, .btn .btn-blue:focus, .body p a.button .btn-blue:focus { outline: 0;color: white; background-color: #004480; }
.btn.btn-blue:active, .body p a.btn-blue.button:active, .btn .btn-blue:active, .body p a.button .btn-blue:active { background-color: #003667; }
.btn.btn-outline, .body p a.btn-outline.button, .btn .btn-outline, .body p a.button .btn-outline { color: rgba(255, 255, 255, 0.9); border: 2px solid white; border-color: rgba(255, 255, 255, 0.5); -webkit-transition: border-color 125ms linear, color 125ms linear; -moz-transition: border-color 125ms linear, color 125ms linear; -o-transition: border-color 125ms linear, color 125ms linear; transition: border-color 125ms linear, color 125ms linear; font-weight: 700; background-color: transparent;  border-radius: 0}


.welcomeUser, .welcomeUser a {
    font-family: "Open Sans", serif;
    color: #fff;
    font-weight: 400;
}
.welcomeUser a {
    border-bottom: 1px solid white;
}
.welcomeUser a:hover {
    border-bottom: none;
    text-decoration: none;
}


.btn.btn-outline:hover, .body p a.btn-outline.button:hover, .btn .btn-outline:hover, .body p a.button .btn-outline:hover { border-color: white; color: white; }
.btn.btn-outline.btn-blue, .body p a.button, .btn.btn-outline .btn-blue, .body p a.btn-outline.button .btn-blue, .btn .btn-outline.btn-blue, .body p a.button .btn-outline.btn-blue, .btn .btn-outline .btn-blue, .body p a.button .btn-outline .btn-blue { color: #0b406b; color: rgba(11, 64, 107, 0.8); border: 2px solid; border-color: #0b406b; border-color: rgba(11, 64, 107, 0.6); }
.btn.btn-outline.btn-blue:hover, .body p a.button:hover, .btn.btn-outline .btn-blue:hover, .body p a.btn-outline.button .btn-blue:hover, .btn .btn-outline.btn-blue:hover, .body p a.button .btn-outline.btn-blue:hover, .btn .btn-outline .btn-blue:hover, .body p a.button .btn-outline .btn-blue:hover { border-color: #0b406b; color: #0b406b; }
.btn .caret, .body p a.button .caret { display: inline-block; *display: inline; zoom: 1; background: url("~/Areas/Sustainability/Content/caret-down.png") no-repeat top left; overflow: hidden; width: 8px; height: 5px; line-height: 1em; position: relative; top: -1px; margin-left: 18px; }
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) { .btn .caret, .body p a.button .caret { background-image: url("~/Areas/Sustainability/Content/caret-down@2x.png"); -webkit-background-size: 8px 5px; -moz-background-size: 8px 5px; -o-background-size: 8px 5px; background-size: 8px 5px; } }

.body { color: #4b4b4b; }
.body a { color: #0066cc; text-decoration: underline; }
.body a:hover {
    color: #0066cc;
    text-decoration: none;
    border-bottom-color: transparent;
}

.body a.has-image { border-bottom: none; }
.body a.has-image img { border: none; }
.body h1, .body h2, .body h3, .body h4, .body h5, .body h6 { color: #3e72b0; margin: 26px 0 13px; line-height: 1.4em; }
.body h1 { font-size: 1.625em; }
.body h2 { font-size: 1.375em; }
.body h3 { font-size: 1.125em; }
.body h4, .body h5 { font-size: 16px}
.body p, .richTextContent { font-size: 1em; line-height: 1.4em; margin:  0.3em 0 0.71429em; }
.body p a.button { -webkit-transition: background-color 125ms linear; -moz-transition: background-color 125ms linear; -o-transition: background-color 125ms linear; transition: background-color 125ms linear; margin-right: 1.25em; font-size: 1.14286em; line-height: 1; white-space: normal; padding:  1.0625em 1.75em 0.875em; background-color: transparent; -webkit-transition: border-color 125ms linear, color 125ms linear; -moz-transition: border-color 125ms linear, color 125ms linear; -o-transition: border-color 125ms linear, color 125ms linear; transition: border-color 125ms linear, color 125ms linear; }
.body ul, .body ol { margin:  0.71429em 0 2.14286em; font-size: 14px; line-height: 1.85714em; }
.body ul ul, .body ul ol, .body ol ul, .body ol ol { margin: 0; font-size: 14px; padding-left: 1.6em; }
.body img { max-width: 100%; height: auto !important; }
.body ul { list-style: square; }
.body blockquote { text-align: center; font-family: "Open Sans", serif; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; margin: 0; font-size: 1.375em; line-height: 1.54545em; padding:  1.59091em 1.36364em; color: #7b7b7b; margin:  1.59091em 0; }
.body table { padding: 0; border-bottom-width: 0; }
.body table th { color: ##666; font-weight: 700; }
.body table td { font-size: 1em; }
.body table p { margin: 0}
.body table td, .body table th {  }


body { font-family: "Open Sans", serif; font-weight: 400; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", serif; font-weight: 700; }

.scroll-cover { top: 0; left: 0; bottom: 0; right: 0; position: fixed; pointer-events: auto !important; z-index: 10000; display: none; }
.scroll-cover.on { display: block; }

.columns.collapse, .column.collapse { padding-left: 0; padding-right: 0; }

.show-small { display: none; }


.laketahoeinfo-menu.btn-group { margin-top: 1.5625em; }
.laketahoeinfo-menu.btn-group .btn, .btn-group .body p a.button, .body p .btn-group a.button { margin-left: 10px; border-color: rgba(255, 255, 255, 0.8); padding: 10px; }


.row {
    margin: 0 auto;
}

/*From bootstrap-overrides.css*/


hr {
    border-color: rgb(11, 64, 107);
}

.editButtonDisabled {
    background-color: lightgray !important;
    color: gray !important;
}


.label.blue {
    color: #FFFFFF;
}

.ltinfo-modal-dialog
{
    font-size: 14px !important;
}
.ltinfo-modal-dialog .btn {
    color: #fff;
    font-family: "Open Sans", serif;
    font-weight: 700;
    padding: 0.9375em 1.5625em 0.75em;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ltinfo-modal-dialog .modal-close-button
{
    padding: 3px 6px;
}

div.summarySection h2
{
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
{
    background-color: transparent;
    border-color: white;
}

.nav .btn:hover
{
    background-color: transparent;
}

a .glyphicon
{
    border-bottom: none;
}

h3.entityName
{
    margin-top: 5px;
    margin-bottom: 0;
}
h1.pageTitle
{
    margin-top: 15px;
    margin-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

.rightOfPageTitle {float: right;margin-top: 10px;margin-bottom: 5px; vertical-align: text-bottom}

.ltinfoHeader {
    background: #6680a8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100px;    
}

.ltinfoHeader .btn-group .btn:hover, .ltinfoHeader .btn-group .body p a.button:hover, .body p .ltinfoHeader .btn-group a.button:hover, .detail-header .btn-group .btn:hover, .detail-header .btn-group .body p a.button:hover, .body p .detail-header .btn-group a.button:hover, .all-indicators-header .btn-group .btn:hover, .all-indicators-header .btn-group .body p a.button:hover, .body p .all-indicators-header .btn-group a.button:hover { border-color: white; }
.ltinfoHeader .intro { margin-top: 5em; margin-bottom: 5em; color: white; }
.ltinfoHeader .intro h1 { font-size: 2.125em; margin:  0.44118em 0 0.29412em; }
.ltinfoHeader .intro p { margin-top: 0.55556em; padding:  0 0.83333em; font-size: 1.125em; line-height: 1.875em; }

@media only screen and (max-width: 767px) {
  
    .laketahoeinfo-intro {
        margin-top: 1.5em;
    }

    .laketahoeinfo-intro h1 {
        font-size: 1.75em;
    }

    .laketahoeinfo-intro p {
        font-size: 1em;
    }

    .laketahoeinfo-menu
    {
        width: 250px;
        margin: 0 auto;
        display: block;
    }

    .laketahoeinfo-menu.btn-group {
        text-align: center;
        margin-bottom: 0.625em;
    }

    .laketahoeinfo-menu.btn-group .btn, .laketahoeinfo-menu.btn-group .body p a.button, .body p .laketahoeinfo-menu.btn-group a.button {
        margin: 0 auto 0;
        width: 250px;
        display: block;
        padding: 0.6875em 20px 0.5625em;
    }

    .laketahoeinfo-menu.btn-group .btn-no-border-bottom {
        border-bottom-width: 0;
    }
}