
#projectWizardContent {
    padding-bottom: 10px;
    margin-right: 5px;
 
}

.firmaContent
{
    background-color: #eee;
}

#projectWizardContent textarea, #projectWizardContent input, #projectWizardContent select, #projectWizardContent .dropdown-toggle, #projectWizardContent .dropdown-menu {
    background-color: #fcfcf0;
}

#projectWizardContent textarea[readonly], #projectWizardContent input[readonly], #projectWizardContent select[readonly], #projectWizardContent .dropdown-toggle[readonly], #projectWizardContent .dropdown-menu[readonly] {
    background-color: lightgray;
}

#projectWizardContent .dropdown-menu.open, #projectWizardContent .dropdown-menu.inner
{
    z-index: 16000;
}

#projectWizardContent .row
{
    margin-right: 0;
    margin-left: 0;
}


.greenLight, .validationWarning { 
    font-size: 14px;
}

.greenLight ul, .validationWarning ul {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 14px;
}

#tab-container
{ 
    margin: 0;
    padding-right: 0;

}

#tab-container ol, #tab-container ul
{
    list-style-position: inside;
    text-align: left;
    margin: 0;
    padding: 0;
}


#tab-container ol li, #tab-container ul li
{
    color: #666;
    background-color: transparent;
    padding-left: 5px;
}

#tab-container ol li.selectable:hover, #tab-container ul li.selectable:hover
{
    background-color: #bbb;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#tab-container ul li .statusIcon, #tab-container ol li .statusIcon
{
    padding: 5px 5px 5px 0;
}

#tab-container ol li a, #tab-container ol li a:visited, #tab-container ul li a, #tab-container ul li a:visited
{
    text-decoration: none;
    color: #666;
    display: inline-block;
    padding: 5px 0 5px 0;
}

#tab-container ol li.selected, #tab-container ul li.selected
{
    border-right: none;
    background-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#projectWizardContent .glyphicon-flag {
    color: green;
}

#main-container
{    
    min-height: 300px;    
    padding: 10px;
    background-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-color: #333;
    border-width: 10px;
}

.sectionComments {
    width: 550px;
    background-color: #f9fab6;
}

hr.navMenu {
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}

#hidden-save-button {
    display: none;
}

.disabledSection
{
    color: #9C9C9C !important;
    font-style: italic;
    cursor: not-allowed;
}