@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common
@using LtInfo.Common.DhtmlWrappers
@inherits ProjectFirma.Web.Views.ProjectFirmaPage.Index
@section JavascriptAndStylesContent
{
    @{ DhtmlxGridIncludes.RenderPartialView(Html); }
}

<div>
    @ViewDataTyped.ProjectFirmaPage.ProjectFirmaPageContentHtmlString
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            @Html.DhtmlxGrid(ViewDataTyped.GridSpec, ViewDataTyped.GridName, ViewDataTyped.GridDataUrl, "", DhtmlxGridResizeType.VerticalFillHorizontalAutoFit)
        </div>
        <div class="col-md-5">
            <h2 style="margin-top: 0">Page Content</h2>
            <div id="projectFirmaPage" style="outline: 1px solid gray; padding: 10px; margin-top: 10px"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // <![CDATA[
    jQuery(document).ready(function()
    {
        var sitkaGrid = Sitka.@ViewDataTyped.GridName;
        sitkaGrid.grid.attachEvent("onRowSelect", function(id)
        {
            var projectFirmaPageId = sitkaGrid.grid.cells(id, sitkaGrid.getColumnIndexByName("ProjectFirmaPageID")).getValue();
            var dataUrlTemplate = new Sitka.UrlTemplate(@Html.Raw(ViewDataTyped.ProjectFirmaPageUrl.ToJS()));
            var dataUrl = dataUrlTemplate.ParameterReplace(projectFirmaPageId);
            SitkaAjax.load(jQuery("#projectFirmaPage"), dataUrl);
        });
        sitkaGrid.grid.attachEvent("onXLE", function() { sitkaGrid.grid.selectRow(0, true); });
        sitkaGrid.grid.attachEvent("onFilterEnd", function() { sitkaGrid.grid.selectRow(0, true); });
    });
    // ]]>
</script>