@using ProjectFirma.Web.Areas.EIP.Views.Shared
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.ModalDialog
@inherits ProjectFirma.Web.Areas.EIP.Views.ProjectUpdate.Photos

<p>
    You may upload new photos for your project, or edit information on existing photos from here. You may also flag photos for deletion
    (they won't actually be deleted until this Project Update is approved).
</p>

<hr />
<div style="max-height: 500px; padding-right: 10px; overflow-y: auto">
    @{
        ImageGallery.RenderPartialView(Html, ViewDataTyped.ImageGalleryViewData);
    }
</div>

@if (@ViewDataTyped.IsEditable)
{
    <hr />
    <table style="width: 100%">
        <tr>
            <td>
                @ModalDialogFormHelper.ModalDialogFormLink("Refresh", ViewDataTyped.RefreshUrl, "Refresh this section", 700, "Continue", "Cancel", new List<string> { "btn btn-xs btn-trpa" }, null, null)
                @if (ViewDataTyped.UpdateStatus.IsPhotosUpdated)
                {
                    @ModalDialogFormHelper.ModalDialogFormLink("diff-link-id", "Show Changes", ViewDataTyped.DiffUrl, "Changes to Project Photos", 800, "hidden-save-button", string.Empty, "diff-close-button", "Close", new List<string> { "btn btn-xs btn-trpa" }, null, null, null, new List<string>() {"btn-trpa", "btn-xs"})
                }
            </td>
        </tr>
    </table>
}