@*-----------------------------------------------------------------------
    <copyright file="Index.cshtml" company="Tahoe Regional Planning Agency and Environmental Science Associates">
    Copyright (c) Tahoe Regional Planning Agency and Environmental Science Associates. All rights reserved.
    <author>Environmental Science Associates</author>
    </copyright>

    <license>
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License <http://www.gnu.org/licenses/> for more details.

    Source code is available upon request via <support@sitkatech.com>.
    </license>
    -----------------------------------------------------------------------*@
@using ProjectFirma.Web.Views
@using ProjectFirma.Web.Views.Shared
@using LtInfo.Common.AgGridWrappers
@using LtInfo.Common.ModalDialog
@using ProjectFirma.Web.Models
@using ProjectFirmaModels.Models
@inherits ProjectFirma.Web.Views.MapLayer.Index
@section JavascriptAndStylesContent
{
    @{ AgGridIncludes.RenderPartialView(Html); }
}




@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.InternalMapLayersViewPageContentViewData); }

@if (ViewDataTyped.AreGeospatialAreasExternallySourced)
{
    { ViewPageContent.RenderPartialView(Html, ViewDataTyped.ExternallySourcedGeospatialAreasInstructionsViewPageContentViewData); }
}

<div style="margin-top: 10px;">
    @Html.AgGrid(ViewDataTyped.GeospatialAreaMapLayerGridSpec, ViewDataTyped.GeospatialAreaMapLayerGridName, ViewDataTyped.GeospatialAreaMapLayerGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit, !ViewDataTyped.CurrentFirmaSession.IsAnonymousUser())
</div>

<h2 class="pageTitle" style="margin-top: 50px">External Reference Layers</h2>

@{ ViewPageContent.RenderPartialView(Html, ViewDataTyped.ViewPageContentViewData); }

<div class="col-md-12" style="margin-bottom: 5px; padding: 0;">
    <div class="pull-right">
        @ModalDialogFormHelper.MakeNewIconButton(ViewDataTyped.NewUrl, string.Format("Add a new {0}", @FieldDefinitionEnum.ExternalReferenceLayer.ToType().GetFieldDefinitionLabel()), ViewDataTyped.UserCanManage)
    </div>
</div>
<div class="clearfix"></div>

<div style="margin-top: 10px;">
    @Html.AgGrid(ViewDataTyped.ExternalMapLayerGridSpec, ViewDataTyped.ExternalMapLayerGridName, ViewDataTyped.ExternalMapLayerGridDataUrl, null, AgGridResizeType.VerticalFillHorizontalAutoFit, !ViewDataTyped.CurrentFirmaSession.IsAnonymousUser())
</div>
